---
---

table {
    border: var(--bs-border-width) var(--bs-border-style) var(--bs-gray-500);
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 1.5rem;
    color: var(--bs-gray-900);
    th {
      background-color: var(--bs-gray-300);
    }
    th, td {
      border: var(--bs-border-width) var(--bs-border-style) var(--bs-gray-500);
      border-collapse: collapse;
      padding: 0.5rem;
      vertical-align: top;
    }
}

ul, ol {
  padding: 0 0 0 17px;
  li {
    margin-bottom: 0.3rem;
  }
}

.icon-twitter {
  color: #1da1f2;
}

.icon-linkedin {
  color: #0077b5;
}