---
---
$rs: 16px;

.teaserimage {
  height: 250px;
  position: relative;
  overflow: hidden;
  background-color: #000;

  .teaserimage-image {
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;

    .logo {
      width: 320px;
      margin: 30px auto;
      display: block;
    }
  }
}

table {
    border: var(--bs-border-width) var(--bs-border-style) var(--bs-gray-500);
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 1.5rem;
    color: var(--bs-gray-900);
    th {
      background-color: var(--bs-gray-300);
    }
    th, td {
      border: var(--bs-border-width) var(--bs-border-style) var(--bs-gray-500);
      border-collapse: collapse;
      padding: 0.5rem;
      vertical-align: top;
    }
}

ul, ol {
  padding: 0 0 0 17px;
  li {
    margin-bottom: 0.3rem;
  }
}