<!DOCTYPE html>
<html>
{% include head.html %}
<body itemscope itemtype="https://schema.org/Article">
{% include header.html %}
<main class="content" role="main">
	<article class="post">
		<div class="noarticleimage">
			<div class="post-meta">
				<h1 class="post-title">{{ page.title }}</h1>
				<div class="cf post-meta-text">
					<div class="author-image" style="background-image: url({{ site.author_image | prepend: site.baseurl }})">Blog Logo</div>
					<h4 class="author-name" itemprop="author" itemscope itemtype="https://schema.org/Person">{{ page.author }}</h4>
					on
					<time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date_to_string }}</time>
				</div>
			</div>
		</div>
		<section class="post-content">
			{{content}}
		</section>
		<div class="bottom-teaser cf">
			<div class="isLeft">
				<h5 class="index-headline featured"><span>Veröffentlicht von</span></h5>
				<section class="author">
					<div class="author-image" style="background-image: url({{site.author_image | prepend: site.baseurl}})">{{ site.author }}</div>
					<h4>{{ site.author }}</h4>
					<p class="bio">{{author.bio}}</p>
					<hr>
					<p class="published">am
						<time datetime='{{ page.date | date: "%d.%m.%Y" }}'>{{ page.date | date: "%d.%m.%Y" }}</time>
					</p>
				</section>
			</div>
			<div class="isRight">
			</div>
		</div>
	</article>
</main>
<div class="bottom-closer">
	<div class="background-closer-image" {%if site.cover %} style="background-image: url({{ site.cover | prepend: site.baseurl }})" {% endif %}>
		Image
	</div>
	<div class="inner">
		<a href={{ "/" | prepend: site.baseurl }} class="btn">Back to overview</a>
		<br>
		<br>
		<br>
		<br>
		<h1 class="blog-title">{{ site.title }}</h1>
		<h2 class="blog-description">{{ site.description }}</h2>
	</div>
</div>
{% include javascripts.html %}
</body>
</html>
